.section-card {
	margin: 0;
	padding: 0;
	width: 25vw;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: lightslategray;
	border-radius: 10px;
	box-shadow: 5px 3px 10px slategray;
}

.section-title {
	color: white;
	margin: 0;
	padding-top: 0;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
}

.section-content-holder {
	width: 350px;
	height: 285px;
	background-color: black;
	border-radius: 10px;
}