.navdiv {
	background: linear-gradient(236deg,#10241e,#0e4f3d,#00cc92);
}

.navbar {
	display: grid;
	grid-template-columns: 30% auto 30%;
	width: auto;
	height: 50px;
}

.title {
	color: white;
	grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	justify-content: right;
	align-self: center;
	margin-right: 5%;
	font-weight: bold;
	font-style: italic;
	font-size: 25pt;
}

.link-list {
	color: lightgreen;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

.link-item {
	flex-grow: 1;
}

.nav-button:hover {
	color: #00cc92;
	font-size: 14pt;
}

.subtitle {
	color: white;
	grid-column-start: 3;
	grid-column-end: 4;
	display: flex;
	justify-content: left;
	align-self: center;
	font-weight: bold;
	font-size: 10pt;
}